@import "~bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-free/scss/solid";
@import "~@fortawesome/fontawesome-free/scss/brands";
@import "~@fortawesome/fontawesome-free/scss/regular";
@import "~@fortawesome/fontawesome-free/scss/fontawesome";
// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
// @import 'variables';

// Bootstrap
// @import 'bootstrap/scss/bootstrap';

// DataTables
@import "datatables.net-bs5/css/dataTables.bootstrap5.min.css";
@import "datatables.net-buttons-bs5/css/buttons.bootstrap5.min.css";
@import 'datatables.net-select-bs5/css/select.bootstrap5.css';
// application.scss

// @import "../assets/demo2/sass/style";
// @import "../assets/demo2/sass/plugins";